* {
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    font-size: 32px;
    border: 1px solid #1b8dbb;
}

nav {
    text-align: center;
    margin-top: 5px;
}

nav > a {
    text-decoration: underline;
    padding: 5px;
    margin-top: 5px;
    font-size: 25px;
    color: black;
    width: 35px;
}

nav > a:hover {
    color: #ec971f;
}

section {
    padding-top: 10px;
    width: 700px;
    margin: 0 auto;
}

.legend-p {
    font-size: 25px;
    text-align: center;
    width: 100%;
}

.legend-item {
    padding-bottom: 5px;
    padding-top: 5px;
    list-style: none;
}

.legend {
    text-align: center;
}

footer {
    text-align: center;
    font-size: 32px;
    border: 1px solid #1b8dbb;
}