{% extends 'football/index.html' %}
{% load static %}

{% block title%}<title>{{ title }}</title>{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">All prematch events table</h1>
    <table id="events_prematch" class="compact" cellspacing="0" width="85%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Country</th>
                <th>Status</th>
                <th>Start time</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Country</th>
                <th>Status</th>
                <th>Start time</th>
            </tr>
        </tfoot>
    </table>
</div>
<script>
    $(document).ready(function() {
        $.get("/football/api_events_prematch/", function( response ){

            $('#events_prematch').DataTable({
                data: response,
                columns: [
                    {data: 'id'},
                    {data: 'title'},
                    {data: 'country'},
                    {data: 'status'},
                    {data: 'start_time'},
                ]
            });
        });
    });
</script>
{% endblock %}
